body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #B50938;
}

#aic-img {
    width: 200px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    line-height: 30px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 30px;
    line-height: 50px;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

#loading-icon {
    display: none;
    width: 60px;
}